Repository umarudotdev/ft_transcendence: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck-api, typecheck-web

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,svelte,html,md,yaml,yml}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,jsx,ts,tsx,svelte}"
      run: bun x oxlint {staged_files}

    typecheck-api:
      glob: "apps/api/**/*.ts"
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      glob: "apps/web/**/*.{ts,svelte}"
      run: cd apps/web && bun run check

commit-msg:
  commands:
    lint-commit-message:
      run: bun x commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    lint-all:
      run: bun x ultracite check

    typecheck-api:
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      run: cd apps/web && bun run check

refactor(supercluster): extract shared constants, remove dead code, optimize hot paths, add tests
  packages/supercluster/package.json
  packages/supercluster/src/constants.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/index.ts
  packages/supercluster/src/simulation/asteroid.test.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/collision.test.ts
  packages/supercluster/src/simulation/collision.ts
  packages/supercluster/src/simulation/index.ts
  packages/supercluster/src/simulation/input.test.ts
  packages/supercluster/src/simulation/movement.test.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.test.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/simulation/shared.ts
  packages/supercluster/src/simulation/ship.test.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
  packages/supercluster/tsconfig.json
Due: format, lint

docs: adopt Colyseus game server and update ADR hierarchy
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  docs/decisions/0008-use-neverthrow-for-service-errors.md
  docs/decisions/0009-use-effect-for-service-errors.md
  docs/decisions/0010-use-hybrid-rust-game-server.md
  docs/decisions/0011-use-colyseus-for-game-server.md
  docs/development.md
  docs/game-design.md
  docs/implementation-plan.md
  docs/index.md
  docs/milestones.md
  docs/prd.md
  docs/tutorials/04-error-handling.md
Due: format

feat(game IN HOLD): migrate supercluster to world-centric sim with camera-follow render
  apps/game-server/src/loop.ts
  apps/web/src/lib/game/renderer/GameRenderer.ts
  apps/web/src/lib/game/renderer/GameStage.ts
  apps/web/src/lib/game/renderer/Projectile.ts
  apps/web/src/lib/game/renderer/Ship.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

refactor(game): simplify world-centric movement with single ship delta per tick
  apps/game-server/src/loop.ts
  apps/web/src/lib/game/renderer/Asteroid.ts
  apps/web/src/lib/game/renderer/GameRenderer.ts
  apps/web/src/lib/game/renderer/Ship.ts
  apps/web/src/lib/game/utils/three-conversions.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

docs: rewrite AGENTS.md with architecture details and naming conventions
  .claude/AGENTS.md
  .gitignore
  AGENTS.md
  GEMINI.md
Due: format

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

refactor(render): code clean up
  apps/web/src/lib/game/renderer/Asteroid.ts
  apps/web/src/lib/game/renderer/GameRenderer.ts
Due: format, lint, typecheck-web

feat(api): add matchmaking module with queue and WebSocket support
  apps/api/drizzle/0008_happy_morg.sql
  apps/api/drizzle/meta/0008_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.ts
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/api/src/modules/matchmaking/matchmaking.controller.ts
  apps/api/src/modules/matchmaking/matchmaking.model.ts
  apps/api/src/modules/matchmaking/matchmaking.repository.ts
  apps/api/src/modules/matchmaking/matchmaking.service.ts
Due: format, lint, typecheck-api

feat(game): add Colyseus bullet hell game server
  apps/game/.devmode.json
  apps/game/Dockerfile
  apps/game/package.json
  apps/game/src/app.config.ts
  apps/game/src/config.ts
  apps/game/src/rooms/GameRoom.ts
  apps/game/src/schemas/BulletSchema.ts
  apps/game/src/schemas/EffectSchema.ts
  apps/game/src/schemas/GameState.ts
  apps/game/src/schemas/PlayerSchema.ts
  apps/game/src/systems/abilities.test.ts
  apps/game/src/systems/abilities.ts
  apps/game/src/systems/collision.test.ts
  apps/game/src/systems/collision.ts
  apps/game/src/systems/combat.test.ts
  apps/game/src/systems/combat.ts
  apps/game/src/systems/movement.test.ts
  apps/game/src/systems/movement.ts
  apps/game/tsconfig.json
Due: format, lint

feat(web): add game client with immersive matchmaking UI
  apps/web/package.json
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/lib/components/game/GameCanvas.svelte
  apps/web/src/lib/components/game/GameHUD.svelte
  apps/web/src/lib/components/game/GameOverlay.svelte
  apps/web/src/lib/components/game/GameResultScreen.svelte
  apps/web/src/lib/components/game/GameResultScreen.svelte.test.ts
  apps/web/src/lib/components/game/MatchFoundScreen.svelte
  apps/web/src/lib/components/game/MatchFoundScreen.svelte.test.ts
  apps/web/src/lib/components/game/MatchmakingOverlay.svelte
  apps/web/src/lib/components/game/QueueScreen.svelte
  apps/web/src/lib/components/game/QueueScreen.svelte.test.ts
  apps/web/src/lib/game/input.test.ts
  apps/web/src/lib/game/input.ts
  apps/web/src/lib/game/interpolation.test.ts
  apps/web/src/lib/game/interpolation.ts
  apps/web/src/lib/game/matchmaking-utils.test.ts
  apps/web/src/lib/game/matchmaking-utils.ts
  apps/web/src/lib/game/renderer.test.ts
  apps/web/src/lib/game/renderer.ts
  apps/web/src/lib/queries/game.ts
  apps/web/src/lib/stores/game.svelte.test.ts
  apps/web/src/lib/stores/game.svelte.ts
  apps/web/src/routes/(app)/+page.svelte
  apps/web/src/routes/(app)/play/+page.svelte
  apps/web/src/routes/(game)/+layout.svelte
  apps/web/src/routes/(game)/play/[sessionId]/+page.svelte
Due: format, lint, typecheck-web

docs: update project docs and config for game server integration
  AGENTS.md
  Makefile
  README.md
  bun.lock
  compose.yaml
  docs/architecture.md
  docs/decisions/0009-use-effect-for-service-errors.md
  docs/decisions/0011-use-colyseus-for-game-server.md
  docs/game-design.md
  docs/prd.md
  package.json
Due: format

fix(game): replace cookie-based auth with token flow and fix BunWebSockets transport
  apps/api/src/modules/matchmaking/matchmaking.controller.ts
  apps/api/src/modules/matchmaking/matchmaking.model.ts
  apps/api/src/modules/matchmaking/matchmaking.service.ts
  apps/game/src/app.config.ts
  apps/game/src/rooms/GameRoom.ts
  apps/game/src/transport.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/stores/game.svelte.test.ts
  apps/web/src/lib/stores/game.svelte.ts
  apps/web/src/routes/(game)/play/[sessionId]/+page.svelte
  compose.yaml
  docs/decisions/0011-use-colyseus-for-game-server.md
  docs/prd.md
Due: format, lint, typecheck-api, typecheck-web

feat: replace custom logger with LogLayer + Pino across all apps
  .env.example
  apps/api/package.json
  apps/api/src/common/logger/index.ts
  apps/api/src/common/logger/request-context.ts
  apps/api/src/common/plugins/error-handler.ts
  apps/api/src/common/plugins/logging.ts
  apps/api/src/common/shutdown/index.ts
  apps/api/src/db/drizzle-logger.ts
  apps/api/src/db/index.ts
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/chat/chat.controller.ts
  apps/api/src/modules/chat/chat.service.ts
  apps/api/src/modules/email/email.service.ts
  apps/api/src/modules/matchmaking/matchmaking.controller.ts
  apps/api/src/modules/matchmaking/matchmaking.service.ts
  apps/api/tsconfig.json
  apps/game/package.json
  apps/game/src/app.config.ts
  apps/game/src/config.ts
  apps/game/src/logger.ts
  apps/game/src/rooms/GameRoom.ts
  apps/game/tsconfig.json
  apps/web/package.json
  apps/web/src/hooks.server.ts
  apps/web/src/lib/server/logger.ts
  bun.lock
  compose.yaml
  packages/logger/package.json
  packages/logger/src/index.ts
Due: format, lint, typecheck-api, typecheck-web

chore(game): update Colyseus devmode state
  apps/game/.devmode.json
Due: format

test(api,game): add matchmaking and game server tests
  apps/api/src/modules/matchmaking/matchmaking.controller.test.ts
  apps/api/src/modules/matchmaking/matchmaking.service.test.ts
  apps/game/src/rooms/GameRoom.test.ts
  apps/game/src/transport.test.ts
Due: format, lint, typecheck-api

style(api,game): fix lint warnings in test files
  apps/api/src/modules/matchmaking/matchmaking.service.test.ts
  apps/game/src/rooms/GameRoom.test.ts
Due: format, lint, typecheck-api

feat(game): add Kamal deployment for game server
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .kamal/secrets.example
  apps/api/Dockerfile
  apps/game/Dockerfile
  apps/web/Dockerfile
  config/deploy.game.yml
  config/deploy.yml
  deploy.sh
Due: format

fix(api,web): fix matchmaking WS token and connection URL
  apps/api/src/modules/matchmaking/matchmaking.controller.ts
  apps/web/Dockerfile
  apps/web/src/lib/stores/game.svelte.ts
  config/deploy.web.yml
Due: format, lint, typecheck-api, typecheck-web

fix(web): auto-recover from stale matchmaking queue state
  apps/web/src/lib/stores/game.svelte.ts
Due: format, lint, typecheck-web

fix(web): render bullets and effects from Colyseus ArraySchema
  apps/web/src/lib/stores/game.svelte.ts
Due: format, lint, typecheck-web

fix(api,game,web): fix matchmaking race conditions and add reconnection support
  apps/api/src/modules/matchmaking/matchmaking.controller.ts
  apps/api/src/modules/matchmaking/matchmaking.model.ts
  apps/api/src/modules/matchmaking/matchmaking.repository.ts
  apps/api/src/modules/matchmaking/matchmaking.service.ts
  apps/game/src/rooms/GameRoom.ts
  apps/web/src/lib/components/game/GameOverlay.svelte
  apps/web/src/lib/components/game/MatchmakingOverlay.svelte
  apps/web/src/lib/stores/game.svelte.ts
  apps/web/src/routes/(app)/play/+page.svelte
  apps/web/src/routes/(game)/play/[sessionId]/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

fix(api,web): atomic match completion, reconnect phase sync, and buffered match results
  apps/api/src/modules/matchmaking/matchmaking.controller.ts
  apps/api/src/modules/matchmaking/matchmaking.repository.ts
  apps/api/src/modules/matchmaking/matchmaking.service.test.ts
  apps/api/src/modules/matchmaking/matchmaking.service.ts
  apps/web/src/lib/stores/game.svelte.ts
Due: format, lint, typecheck-api, typecheck-web

fix(web): fix Play Again navigation and remove Play vs AI button
  apps/web/src/lib/components/game/GameOverlay.svelte
  apps/web/src/routes/(app)/+page.svelte
Due: format, lint, typecheck-web

fix(api,web): skip ratings for casual matches, remove Play Again, fix lint warnings
  apps/api/src/modules/matchmaking/matchmaking.service.ts
  apps/web/src/lib/components/game/GameCanvas.svelte
  apps/web/src/lib/components/game/GameOverlay.svelte
  apps/web/src/lib/components/game/GameResultScreen.svelte
  apps/web/src/lib/components/game/GameResultScreen.svelte.test.ts
Due: format, lint, typecheck-api, typecheck-web

feat(api,game,web): server-authoritative aim toward cursor
  apps/api/src/modules/auth/auth.controller.test.ts
  apps/game/src/rooms/GameRoom.ts
  apps/game/src/schemas/PlayerSchema.ts
  apps/game/src/systems/combat.test.ts
  apps/game/src/systems/combat.ts
  apps/web/src/lib/components/game/GameCanvas.svelte
  apps/web/src/lib/game/input.test.ts
  apps/web/src/lib/game/input.ts
  apps/web/src/lib/game/renderer.test.ts
  apps/web/src/lib/game/renderer.ts
  apps/web/src/lib/stores/game.svelte.ts
Due: format, lint, typecheck-api, typecheck-web

feat(game,web,docs): add angular velocity, graze mechanic, visual overhaul, and bug fixes
  apps/game/src/rooms/GameRoom.ts
  apps/game/src/schemas/BulletSchema.ts
  apps/game/src/schemas/PlayerSchema.ts
  apps/game/src/systems/abilities.test.ts
  apps/game/src/systems/abilities.ts
  apps/game/src/systems/collision.test.ts
  apps/game/src/systems/collision.ts
  apps/game/src/systems/combat.ts
  apps/game/src/systems/movement.ts
  apps/web/src/lib/components/game/GameCanvas.svelte
  apps/web/src/lib/components/game/GameHUD.svelte
  apps/web/src/lib/game/particles.ts
  apps/web/src/lib/game/renderer.test.ts
  apps/web/src/lib/game/renderer.ts
  apps/web/src/lib/stores/game.svelte.ts
  docs/architecture.md
  docs/game-design.md
  docs/implementation-plan.md
  docs/milestones.md
  docs/prd.md
Due: format, lint, typecheck-web

style(web): fix remaining ultracite format issues
  apps/web/.prettierrc
  apps/web/src/routes/(app)/page.svelte.spec.ts
Due: format, lint, typecheck-web

feat(game,web): add rotation cap, dash trail, progressive abilities, deathbomb, and spell card duel
  apps/game/src/rooms/GameRoom.ts
  apps/game/src/schemas/EffectSchema.ts
  apps/game/src/schemas/GameState.ts
  apps/game/src/schemas/PlayerSchema.ts
  apps/game/src/systems/abilities.test.ts
  apps/game/src/systems/abilities.ts
  apps/game/src/systems/combat.test.ts
  apps/game/src/systems/combat.ts
  apps/game/src/systems/constants.ts
  apps/game/src/systems/movement.test.ts
  apps/game/src/systems/movement.ts
  apps/game/src/systems/spellcard.test.ts
  apps/game/src/systems/spellcard.ts
  apps/web/src/lib/components/game/GameCanvas.svelte
  apps/web/src/lib/game/interpolation.test.ts
  apps/web/src/lib/game/interpolation.ts
  apps/web/src/lib/game/renderer.test.ts
  apps/web/src/lib/game/renderer.ts
  apps/web/src/lib/stores/game.svelte.ts
Due: format, lint, typecheck-web

fix(game): clear spell card bullets on resolution
  apps/game/src/systems/spellcard.test.ts
  apps/game/src/systems/spellcard.ts
Due: format, lint

feat(game): dash toward cursor instead of movement direction
  apps/game/src/systems/abilities.test.ts
  apps/game/src/systems/abilities.ts
Due: format, lint

feat(web): add left-click to fire and right-click to dash
  apps/web/src/lib/game/input.test.ts
  apps/web/src/lib/game/input.ts
Due: format, lint, typecheck-web

fix: use .env variables in compose.yaml for DB credentials
  .env.example
  compose.yaml
Due: format

feat(game): dash in movement direction when moving, toward cursor when stationary
  apps/game/src/systems/abilities.test.ts
  apps/game/src/systems/abilities.ts
Due: format, lint

feat(game): upgrade spread to 5-way bullet pattern with inner/outer layers
  apps/game/src/systems/combat.test.ts
  apps/game/src/systems/combat.ts
Due: format, lint

feat(game,web): add single-player playground with target dummy
  Makefile
  apps/game/src/app.config.ts
  apps/game/src/rooms/GameRoom.ts
  apps/game/src/rooms/PlaygroundRoom.ts
  apps/game/src/systems/gameLoop.ts
  apps/web/src/lib/components/game/PlaygroundOverlay.svelte
  apps/web/src/lib/stores/game.svelte.ts
  apps/web/src/routes/(app)/play/+page.svelte
  apps/web/src/routes/(game)/play/playground/+page.svelte
Due: format, lint, typecheck-web

chore: add per-app .env setup, justfile, and clean up Makefile
  .env.example
  Makefile
  apps/api/.env.example
  apps/game/.env.example
  justfile
Due: none

chore(game): update devmode state from playground testing
  apps/game/.devmode.json
Due: format
