Repository umarudotdev/ft_transcendence: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck-api, typecheck-web

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,svelte,html,md,yaml,yml}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,jsx,ts,tsx,svelte}"
      run: bun x oxlint {staged_files}

    typecheck-api:
      glob: "apps/api/**/*.ts"
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      glob: "apps/web/**/*.{ts,svelte}"
      run: cd apps/web && bun run check

commit-msg:
  commands:
    lint-commit-message:
      run: bun x commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    lint-all:
      run: bun x ultracite check

    typecheck-api:
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      run: cd apps/web && bun run check

feat(supercluster): implement shooting mechanics with billboard bullets
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/debug/index.ts
  apps/web/src/lib/supercluster/index.ts
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  apps/web/src/lib/supercluster/shaders/index.ts
  apps/web/src/routes/(app)/game/+page.svelte
  docs/quick-setup.md
  docs/supercluster.md
  docs/supercluster/collision.md
  docs/supercluster/goals.md
  docs/supercluster/movement.md
  docs/supercluster/networking.md
  docs/supercluster/notes.md
  docs/supercluster/shaders.md
  docs/supercluster/workflow.md
  packages/supercluster/src/index.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

feat(supercluster): add collision detection and visual improvements
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

fix(supercluster): resolve bullet velocity and ship speed reference frame issues
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

refactor(supercluster): reorganize config for single source of truth
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

feat(supercluster): implement ship collision, game over, and debug GUI cleanup
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  docs/supercluster.md
  docs/supercluster/collision.md
  docs/supercluster/configuration.md
  docs/supercluster/notes.md
Due: format, lint, typecheck-web

feat(users): add stats dashboard with activity charts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.model.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/web/package.json
  apps/web/src/lib/queries/users.ts
  apps/web/src/routes/(app)/profile/+page.svelte
  apps/web/src/routes/(app)/stats/+page.svelte
  bun.lock
Due: format, lint, typecheck-api, typecheck-web

refactor(supercluster): establish single source of truth for constants
  .gitignore
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/constants/collision.ts
  apps/web/src/lib/supercluster/constants/index.ts
  apps/web/src/lib/supercluster/constants/renderer.ts
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  apps/web/src/lib/supercluster/shaders/index.ts
  docs/supercluster/coding-standards.md
  docs/supercluster/future-architecture.md
  docs/supercluster/variables-audit.md
  packages/supercluster/src/constants.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/index.ts
  packages/supercluster/src/network/ClientInput.ts
  packages/supercluster/src/network/GameStateUpdate.ts
  packages/supercluster/src/network/index.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

refactor(supercluster): update game state types for server-authoritative gameplay
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  docs/supercluster/concepts/client-side-prediction.md
  docs/supercluster/concepts/collision.md
  docs/supercluster/concepts/index.md
  docs/supercluster/concepts/movement.md
  docs/supercluster/concepts/shaders.md
  docs/supercluster/concepts/svelte-basics.md
  docs/supercluster/refactoring/game-state-refactor.md
  packages/supercluster/src/constants.ts
  packages/supercluster/src/network/ClientInput.ts
  packages/supercluster/src/network/GameStateUpdate.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

refactor(supercluster): remove lil-gui and consolidate constants
  apps/web/package.json
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/assets/ship-geometry.ts
  apps/web/src/lib/supercluster/constants/renderer.ts
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/debug/index.ts
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  docs/supercluster/configuration.md
  docs/supercluster/variables-audit.md
Due: format, lint, typecheck-web

refactor(supercluster): remove GameConfig, move ship geometry to assets
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/assets/ship-geometry.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  docs/supercluster/configuration.md
  docs/supercluster/variables-audit.md
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

style(web): unify formatting to 2 spaces
  apps/web/.prettierrc
  apps/web/src/lib/supercluster/assets/ship-geometry.ts
  apps/web/src/lib/supercluster/constants/collision.ts
  apps/web/src/lib/supercluster/constants/index.ts
  apps/web/src/lib/supercluster/constants/renderer.ts
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/Bullet.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  apps/web/src/lib/supercluster/renderer/index.ts
Due: format, lint, typecheck-web

refactor(supercluster): unify formatting and extract ForceField renderer
  apps/web/src/lib/supercluster/index.ts
  apps/web/src/lib/supercluster/renderer/ForceField.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
  apps/web/src/lib/supercluster/renderer/World.ts
  apps/web/src/lib/supercluster/renderer/index.ts
Due: format, lint, typecheck-web

refactor(supercluster): extract GameStage and GameOverScreen from GameRenderer
  apps/web/src/lib/supercluster/index.ts
  apps/web/src/lib/supercluster/renderer/GameOverScreen.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  docs/supercluster/concepts/client-side-prediction.md
  docs/supercluster/concepts/collision.md
  docs/supercluster/concepts/index.md
  docs/supercluster/concepts/svelte-basics.md
  docs/supercluster/notes.md
  docs/supercluster/refactoring/game-state-refactor.md
Due: format, lint, typecheck-web

docs(supercluster): add architecture patterns and fix comment style
  apps/web/src/lib/supercluster/constants/renderer.ts
  docs/supercluster/coding-standards.md
Due: format, lint, typecheck-web

refactor(supercluster): extract InputController from GameRenderer
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/InputController.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  docs/supercluster/coding-standards.md
  docs/supercluster/refactoring/game-state-refactor.md
Due: format, lint, typecheck-web

refactor(supercluster): rename bullet to projectile and add three.js to shared
  apps/web/src/lib/supercluster/constants/renderer.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  apps/web/src/lib/supercluster/renderer/Projectile.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  bun.lock
  docs/refactor-safe-template.md
  docs/supercluster/coding-standards.md
  docs/supercluster/refactoring/game-state-refactor.md
  packages/supercluster/package.json
  packages/supercluster/src/constants.ts
Due: format, lint, typecheck-web

feat(web): add privacy policy and terms of service pages
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/routes/(auth)/+layout.svelte
  apps/web/src/routes/(legal)/+layout.svelte
  apps/web/src/routes/(legal)/privacy/+page.svelte
  apps/web/src/routes/(legal)/terms/+page.svelte
Due: format, lint, typecheck-web

fix(supercluster): harden collision math guards and start asteroid state split
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/Projectile.ts
  docs/supercluster/issues/checklist_verdict.md
  docs/supercluster/issues/collision_improvements.md
  docs/supercluster/issues/collision_improvements_validation_2026-02-09.md
  docs/supercluster/issues/performance_scaling.md
  docs/supercluster/math-and-ecs-audit-2026-02-09.md
  docs/supercluster/refactoring/collision-fix-workflow.md
  docs/supercluster/refactoring/collision-phase-0-baseline.md
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

refactor(supercluster): add fixed-step simulation and normalize projectile terminology in docs
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  docs/supercluster/concepts/collision.md
  docs/supercluster/concepts/svelte-basics.md
  docs/supercluster/configuration.md
  docs/supercluster/future-architecture.md
  docs/supercluster/issues/checklist_verdict.md
  docs/supercluster/issues/collision_improvements.md
  docs/supercluster/issues/collision_improvements_validation_2026-02-09.md
  docs/supercluster/issues/performance_scaling.md
  docs/supercluster/math-and-ecs-audit-2026-02-09.md
  docs/supercluster/notes.md
  docs/supercluster/refactoring/collision-fix-workflow.md
  docs/supercluster/refactoring/collision-phase-0-baseline.md
  docs/supercluster/variables-audit.md
  docs/supercluster/workflow.md
Due: format, lint, typecheck-web

refactor(supercluster): add fixed-step simulation and normalize projectile terminology in docs
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
Due: format, lint, typecheck-web

refactor(supercluster): add fixed-step simulation and normalize projectile terminology in docs
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Projectile.ts
  bun.lock
  docs/supercluster/concepts/collision.md
  docs/supercluster/issues/checklist_verdict.md
  docs/supercluster/issues/collision_improvements_validation_2026-02-09.md
  docs/supercluster/math-and-ecs-audit-2026-02-09.md
  docs/supercluster/refactoring/collision-fix-workflow.md
  docs/supercluster/refactoring/collision-phase-0-baseline.md
  docs/supercluster/refactoring/game-state-refactor.md
  packages/supercluster/package.json
  packages/supercluster/src/index.ts
  packages/supercluster/src/simulation/collision.ts
  packages/supercluster/src/simulation/index.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

fix(supercluster): prevent websocket reconnect after game component unmount
  apps/api/src/index.ts
  apps/api/src/modules/game/game.controller.ts
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/routes/(app)/game/+page.svelte
  apps/web/vite.config.ts
Due: format, lint, typecheck-api, typecheck-web

fix(supercluster): prevent websocket reconnect after game component unmount
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/modules/game/game.controller.ts
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  bun.lock
  docs/supercluster/OLD-refactoring/collision-fix-workflow.md
  docs/supercluster/OLD-refactoring/collision-phase-0-baseline.md
  docs/supercluster/OLD-refactoring/game-state-refactor.md
  docs/supercluster/refactoring/checklist_verdict.md
  docs/supercluster/refactoring/collision-fix-workflow.md
  docs/supercluster/refactoring/mechanics-render-split-plan-MOD.md
  docs/supercluster/refactoring/performance_scaling.md
  docs/supercluster/refactoring/salvage-checkpoint-from-d45ac74.md
  docs/supercluster/refactoring/server-authority-directives-and-workflow.md
  docs/supercluster/refactoring/total-mechanics-render-split-plan.md
  packages/supercluster/src/network/GameStateUpdate.ts
  packages/supercluster/src/simulation/index.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-api, typecheck-web

refactor(supercluster): move ship authority to server with quaternion sync
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  packages/supercluster/src/network/GameStateUpdate.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-api, typecheck-web

refactor(supercluster): simplify ship state and unify heading/aim convention
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/network/GameStateUpdate.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-api, typecheck-web

refactor(supercluster): split input/movement layers and reorder authority phase plan
  .gitignore
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/InputController.ts
  docs/supercluster/OLD-refactoring/collision-fix-workflow.md
  docs/supercluster/OLD-refactoring/collision-phase-0-baseline.md
  docs/supercluster/OLD-refactoring/game-state-refactor.md
  docs/supercluster/future-architecture.md
  docs/supercluster/issues/checklist_verdict.md
  docs/supercluster/issues/collision_improvements.md
  docs/supercluster/issues/collision_improvements_validation_2026-02-09.md
  docs/supercluster/issues/performance_scaling.md
  docs/supercluster/math-and-ecs-audit-2026-02-09.md
  docs/supercluster/notes.md
  docs/supercluster/refactoring/checklist_verdict.md
  docs/supercluster/refactoring/collision-fix-workflow.md
  docs/supercluster/refactoring/mechanics-render-split-plan-MOD.md
  docs/supercluster/refactoring/performance_scaling.md
  docs/supercluster/refactoring/salvage-checkpoint-from-d45ac74.md
  docs/supercluster/refactoring/server-authority-complete-plan.md
  docs/supercluster/refactoring/server-authority-directives.md
  docs/supercluster/refactoring/total-mechanics-render-split-plan.md
  docs/supercluster/workflow.md
  packages/supercluster/src/simulation/index.ts
  packages/supercluster/src/simulation/input.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/ship.ts
Due: format, lint, typecheck-api, typecheck-web

refactor(supercluster): advance authority split with ws guardrails, shared motion cleanup
  apps/api/src/modules/game/game.controller.ts
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  apps/web/src/lib/supercluster/renderer/Projectile.ts
  docs/supercluster/refactoring/server-authority-complete-plan.md
  docs/supercluster/refactoring/server-authority-directives.md
  packages/supercluster/src/constants.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/index.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
  scripts/aws-setup.sh
Due: format, lint, typecheck-api, typecheck-web

fix(supercluster): add collision authority on server tick
  apps/api/src/modules/game/game.runtime.service.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/collision.ts
Due: format, lint, typecheck-api

fix(supercluster): unify aim/frame contract for server-authoritative projectile flow
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  apps/web/src/lib/supercluster/renderer/Projectile.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/simulation/ship.ts
Due: format, lint, typecheck-api, typecheck-web

fix(supercluster): stabilize ship-centric server-authority frame and clean dead render paths
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/renderer/CollisionSystem.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/GameStage.ts
  apps/web/src/lib/supercluster/renderer/Projectile.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/collision.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/ship.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-api, typecheck-web

refactor(supercluster): move ship/collision state transitions into shared simulation
  .vscode/settings.json
  apps/api/src/modules/game/game.runtime.service.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  docs/supercluster/concepts/collision.md
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/collision.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/ship.ts
Due: format, lint, typecheck-api, typecheck-web

refactor(supercluster): move ship/collision state transitions into shared simulation
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
Due: format, lint, typecheck-web

fix(docker): add supercluster deps to dev stage and exclude nested .env files
  .dockerignore
  apps/api/Dockerfile
Due: none

fix(formatting): fix by bun x ultracite
  .vscode/settings.json
  apps/api/src/index.ts
  apps/api/src/modules/game/game.controller.ts
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/Projectile.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/network/GameStateUpdate.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/collision.ts
  packages/supercluster/src/simulation/input.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/simulation/ship.ts
Due: format, lint, typecheck-api, typecheck-web

fix(ci): use local playwright binary to match lockfile version
  .github/workflows/ci.yml
Due: format

fix(ci): run playwright install from web workspace
  .github/workflows/ci.yml
Due: format

chore: add watch mode target and externalize env vars in compose
  Makefile
  compose.yaml
Due: format

fix(docker): use API_URL env var for vite dev proxy target
  apps/web/vite.config.ts
Due: format, lint

docs(decisions): make neverthrow ADR supersede Effect ADR
  docs/decisions/0008-use-effect-for-service-errors.md
  docs/decisions/0008-use-neverthrow-for-service-errors.md
  docs/tutorials/04-error-handling.md
Due: format

docs: update all docs for hybrid Rust game server architecture
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/architecture.md
  docs/decisions/0009-use-hybrid-rust-game-server.md
  docs/development.md
  docs/game-design.md
  docs/implementation-plan.md
  docs/prd.md
Due: format
