Repository umarudotdev/ft_transcendence: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck-api, typecheck-web

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,svelte,html,md,yaml,yml}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,jsx,ts,tsx,svelte}"
      run: bun x oxlint {staged_files}

    typecheck-api:
      glob: "apps/api/**/*.ts"
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      glob: "apps/web/**/*.{ts,svelte}"
      run: cd apps/web && bun run check

commit-msg:
  commands:
    lint-commit-message:
      run: bun x commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    lint-all:
      run: bun x ultracite check

    typecheck-api:
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      run: cd apps/web && bun run check

fix(ci): add both hostname and IP to SSH known_hosts for Kamal
  .github/workflows/deploy.yml
Due: format

feat(ci): add GHA cache for Docker builds and fix web secrets file
  .github/workflows/deploy.yml
  config/deploy.web.yml
  config/deploy.yml
Due: format

fix(ci): remove stale proxy config before web deployment
  .github/workflows/deploy.yml
Due: format

fix(ci): add app stop before web deployment to clear conflicts
  .github/workflows/deploy.yml
Due: format

fix(ci): directly remove web service from kamal-proxy before deploy
  .github/workflows/deploy.yml
Due: format

ci: add kamal-proxy service listing for debugging host conflict
  .github/workflows/deploy.yml
Due: format

fix(ci): remove correct stale service name ft-transcendence-web-web from proxy
  .github/workflows/deploy.yml
Due: format

feat(api): add twelve-factor compliance for config, logging, and shutdown
  .env.example
  apps/api/.env.example
  apps/api/Dockerfile
  apps/api/src/common/logger/index.ts
  apps/api/src/common/logger/request-context.ts
  apps/api/src/common/plugins/error-handler.ts
  apps/api/src/common/plugins/logging.ts
  apps/api/src/common/shutdown/index.ts
  apps/api/src/db/index.ts
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/chat/chat.controller.ts
  apps/api/src/modules/chat/chat.crypto.ts
  apps/api/src/modules/chat/chat.service.ts
  apps/api/src/modules/email/email.service.ts
  apps/api/src/modules/status/status.controller.ts
  compose.yaml
  config/deploy.yml
Due: format, lint, typecheck-api

fix(api): provide test fallback for CHAT_ENCRYPTION_KEY
  apps/api/src/env.ts
Due: format, lint, typecheck-api

style(docs): apply formatting to documentation files
  docs/architecture.md
  docs/decisions/0001-use-bun-elysia-sveltekit-stack.md
  docs/decisions/0002-use-monorepo-with-vertical-slice-architecture.md
  docs/decisions/0003-use-tailwind-shadcn-svelte-stores.md
  docs/decisions/0004-use-database-sessions-with-arctic-oslo.md
  docs/decisions/0005-use-rfc9457-problem-details-for-errors.md
  docs/decisions/0006-use-conventional-commits-and-branches.md
  docs/decisions/0007-use-github-flow-workflow.md
  docs/decisions/0008-use-neverthrow-for-service-errors.md
  docs/deployment.md
  docs/development.md
  docs/milestones.md
  docs/prd.md
  docs/subject.md
Due: format

fix(deploy): remove unconfigured CORS_ORIGINS from secrets
  config/deploy.yml
Due: format

fix(api): resolve circular dependency in shutdown manager
  apps/api/src/common/shutdown/index.ts
  apps/api/src/common/shutdown/state.ts
  apps/api/src/modules/status/status.controller.ts
Due: format, lint, typecheck-api

fix(ci): add Docker cleanup step before API deployment
  .github/workflows/deploy.yml
Due: format

test(api,web): add comprehensive tests for chat and auth modules
  apps/api/src/modules/chat/chat.crypto.test.ts
  apps/api/src/modules/chat/chat.service.test.ts
  apps/api/src/test-utils/db-helpers.ts
  apps/api/src/test-utils/fixtures.ts
  apps/api/src/test-utils/index.ts
  apps/api/src/test-utils/mock-websocket.ts
  apps/web/e2e/auth/login.spec.ts
  apps/web/e2e/chat/messaging.spec.ts
  apps/web/src/lib/stores/chat.svelte.test.ts
  apps/web/src/lib/test/mocks/websocket.ts
Due: format, lint, typecheck-api, typecheck-web

fix(web): resolve WebSocket mocking in tests for CI compatibility
  Makefile
  apps/web/e2e/auth/login.spec.ts
  apps/web/e2e/chat/messaging.spec.ts
  apps/web/package.json
  apps/web/src/lib/stores/chat.svelte.test.ts
  apps/web/src/lib/stores/chat.svelte.ts
Due: format, lint, typecheck-web

style(web): implement Tokyo Night color theme
  apps/web/src/routes/layout.css
Due: format

style(web): add experimental corner-shape CSS property to buttons
  apps/web/src/lib/components/notifications/NotificationBell.svelte
  apps/web/src/lib/components/theme-toggle.svelte
  apps/web/src/lib/components/ui/button/button.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-trigger.svelte
  apps/web/src/routes/layout.css
Due: format, lint, typecheck-web

feat(auth): add email change functionality with verification flow
  apps/api/drizzle/0005_handy_risque.sql
  apps/api/drizzle/meta/0005_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.repository.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/email/email.service.ts
  apps/web/src/lib/queries/auth.ts
  apps/web/src/routes/(app)/settings/security/+page.svelte
  apps/web/src/routes/(auth)/auth/verify-email-change/[token]/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

fix(deploy): add persistent volume for avatar uploads
  compose.yaml
  config/deploy.yml
Due: format

feat(users): add avatar removal and fix email config
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/uploads/avatars/53.webp
  apps/web/src/lib/components/profile/AvatarUpload.svelte
  apps/web/src/lib/queries/users.ts
  apps/web/src/routes/(app)/profile/+page.svelte
  apps/web/vite.config.ts
  compose.yaml
Due: format, lint, typecheck-api, typecheck-web

fix(web): proxy /uploads requests to API server in production
  apps/web/src/hooks.server.ts
Due: format, lint, typecheck-web

feat(auth): add set-password endpoint for OAuth-only users
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/web/src/lib/queries/auth.ts
  apps/web/src/routes/(app)/settings/security/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

style(web): apply consistent formatting to svelte routes
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/+page.svelte
  apps/web/src/routes/(app)/PageWithWrapper.svelte
  apps/web/src/routes/(app)/TestWrapper.svelte
  apps/web/src/routes/(app)/achievements/+page.svelte
  apps/web/src/routes/(app)/admin/+layout.svelte
  apps/web/src/routes/(app)/admin/+page.svelte
  apps/web/src/routes/(app)/admin/audit/+page.svelte
  apps/web/src/routes/(app)/admin/reports/+page.svelte
  apps/web/src/routes/(app)/admin/sanctions/+page.svelte
  apps/web/src/routes/(app)/admin/users/+page.svelte
  apps/web/src/routes/(app)/chat/+layout.svelte
  apps/web/src/routes/(app)/chat/+page.svelte
  apps/web/src/routes/(app)/chat/[channelId]/+page.svelte
  apps/web/src/routes/(app)/demo/+page.svelte
  apps/web/src/routes/(app)/demo/paraglide/+page.svelte
  apps/web/src/routes/(app)/leaderboard/+page.svelte
  apps/web/src/routes/(app)/notifications/+page.svelte
  apps/web/src/routes/(app)/profile/+page.svelte
  apps/web/src/routes/(app)/settings/+page.svelte
  apps/web/src/routes/(app)/settings/2fa/+page.svelte
  apps/web/src/routes/(app)/status/+page.svelte
  apps/web/src/routes/(app)/users/[id]/+page.svelte
  apps/web/src/routes/(app)/welcome/+page.svelte
  apps/web/src/routes/(auth)/+layout.svelte
  apps/web/src/routes/(auth)/auth/forgot-password/+page.svelte
  apps/web/src/routes/(auth)/auth/login/+page.svelte
  apps/web/src/routes/(auth)/auth/register/+page.svelte
  apps/web/src/routes/(auth)/auth/reset-password/[token]/+page.svelte
  apps/web/src/routes/(auth)/auth/verify-email-change/[token]/+page.svelte
  apps/web/src/routes/(auth)/auth/verify-email/[token]/+page.svelte
Due: format, lint, typecheck-web

style(email): update email templates to match frontend theme
  apps/api/src/modules/email/email.service.ts
Due: format, lint, typecheck-api

fix(db): add onDelete cascade rules to allow user deletion
  apps/api/drizzle/0006_deep_frog_thor.sql
  apps/api/drizzle/meta/0006_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.ts
  apps/api/src/modules/moderation/moderation.model.ts
  apps/api/src/modules/moderation/moderation.service.ts
Due: format, lint, typecheck-api

fix(auth): require email verification for password-based registration
  apps/api/src/modules/auth/auth.repository.ts
Due: format, lint, typecheck-api

feat(users): add unique username with display name system
  Makefile
  apps/api/drizzle/0007_colorful_juggernaut.sql
  apps/api/drizzle/meta/0007_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.ts
  apps/api/src/db/seed.ts
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.repository.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.model.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/api/src/test-utils/db-helpers.ts
  apps/web/src/lib/queries/users.ts
  apps/web/src/lib/utils.ts
  apps/web/src/routes/(app)/profile/+page.svelte
  apps/web/src/routes/(auth)/auth/register/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

ci(deploy): run database migrations after API deployment
  .github/workflows/deploy.yml
Due: format

style(auth): simplify validation UI and enhance visual design
  apps/web/src/lib/components/ui/input/index.ts
  apps/web/src/lib/components/ui/input/password-input.svelte
  apps/web/src/routes/(auth)/+layout.svelte
  apps/web/src/routes/(auth)/auth/forgot-password/+page.svelte
  apps/web/src/routes/(auth)/auth/login/+page.svelte
  apps/web/src/routes/(auth)/auth/register/+page.svelte
  apps/web/src/routes/(auth)/auth/reset-password/[token]/+page.svelte
  apps/web/src/routes/(auth)/auth/verify-email-change/[token]/+page.svelte
  apps/web/src/routes/(auth)/auth/verify-email/[token]/+page.svelte
  apps/web/src/routes/+layout.svelte
Due: format, lint, typecheck-web

style(web): replace Roboto with Geist font family
  apps/web/package.json
  apps/web/src/app.html
  apps/web/src/lib/components/ui/button/button.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/layout.css
  bun.lock
Due: format, lint, typecheck-web

style(auth): improve 2FA UI layout and unify OTP inputs
  apps/web/src/routes/(app)/settings/2fa/+page.svelte
  apps/web/src/routes/(auth)/auth/login/+page.svelte
Due: format, lint, typecheck-web

style(web): redesign sidebar and header with M3 navigation rail
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/lib/components/chat/ConversationItem.svelte
  apps/web/src/lib/components/chat/MessageThread.svelte
  apps/web/src/lib/components/command-menu.svelte
  apps/web/src/lib/components/header-user-menu.svelte
  apps/web/src/lib/components/notifications/NotificationBell.svelte
  apps/web/src/lib/components/profile/AvatarUpload.svelte
  apps/web/src/lib/components/profile/FriendsList.svelte
  apps/web/src/lib/components/profile/MatchHistory.svelte
  apps/web/src/lib/components/ui/sidebar/constants.ts
  apps/web/src/lib/components/ui/sidebar/sidebar-menu-button.svelte
  apps/web/src/lib/utils.ts
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/admin/users/+page.svelte
  apps/web/src/routes/(app)/chat/[channelId]/+page.svelte
  apps/web/src/routes/(app)/leaderboard/+page.svelte
  apps/web/src/routes/(app)/settings/+page.svelte
  apps/web/src/routes/(app)/users/[id]/+page.svelte
  apps/web/src/routes/layout.css
Due: format, lint, typecheck-web

feat(web): add daily reward button to header and improve UI components
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/lib/components/command-menu.svelte
  apps/web/src/lib/components/gamification/DailyRewardButton.svelte
  apps/web/src/lib/components/gamification/index.ts
  apps/web/src/lib/components/header-user-menu.svelte
  apps/web/src/lib/components/notifications/NotificationBell.svelte
  apps/web/src/lib/components/theme-toggle.svelte
  apps/web/src/lib/components/ui/input/input.svelte
  apps/web/src/lib/components/ui/input/password-input.svelte
  apps/web/src/lib/components/ui/textarea/textarea.svelte
  apps/web/src/lib/components/ui/tooltip/tooltip-content.svelte
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/admin/reports/+page.svelte
Due: format, lint, typecheck-web

feat(web): add SuperCluster game module with Three.js integration
  apps/web/package.json
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/index.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  apps/web/src/lib/supercluster/shaders/forceField.ts
  apps/web/src/lib/supercluster/shaders/index.ts
  apps/web/src/routes/(app)/+page.svelte
  apps/web/src/routes/(app)/game/+page.svelte
  bun.lock
  docs/supercluster.md
  packages/supercluster/package.json
  packages/supercluster/src/docs/README.md
  packages/supercluster/src/index.ts
  packages/supercluster/src/types.ts
  packages/supercluster/tsconfig.json
Due: format, lint, typecheck-web

feat(web): add lil-gui debug controls and fix ship positioning
  apps/web/package.json
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/debug/index.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  bun.lock
  docs/supercluster.md
  docs/supercluster/notes.md
  docs/supercluster/workflow.md
  packages/supercluster/src/docs/README.md
Due: format, lint, typecheck-web

feat(web): implement quaternion rotation and 3D ship for SuperCluster
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  docs/supercluster.md
  docs/supercluster/goals.md
  docs/supercluster/notes.md
  docs/supercluster/workflow.md
Due: format, lint, typecheck-web

feat(web): use IcosahedronGeometry for uniform force field grid
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Planet.ts
Due: format, lint, typecheck-web

feat(api): add database integration tests and drizzle documentation
  apps/api/drizzle.config.ts
  apps/api/src/db/integration/auth.repository.test.ts
  apps/api/src/db/integration/gamification.repository.test.ts
  apps/api/src/db/integration/users.repository.test.ts
  apps/api/src/db/schema.ts
  apps/api/src/db/test-utils.ts
  docs/tutorials/drizzle-orm-guide.md
Due: format, lint, typecheck-api

docs(supercluster): add networking architecture and shader documentation
  apps/web/src/lib/supercluster/SuperCluster.svelte
  apps/web/src/lib/supercluster/debug/DebugGui.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/Ship.ts
  docs/supercluster/networking.md
  docs/supercluster/notes.md
  docs/supercluster/shaders.md
  docs/supercluster/workflow.md
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

feat(supercluster): add asteroid system and collision design docs
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/src/lib/supercluster/renderer/Asteroid.ts
  apps/web/src/lib/supercluster/renderer/GameRenderer.ts
  apps/web/src/lib/supercluster/renderer/index.ts
  bun.lock
  docs/quick-setup.md
  docs/supercluster/collision.md
  docs/supercluster/notes.md
  docs/supercluster/workflow.md
Due: format, lint, typecheck-web
