Repository umarudotdev/ft_transcendence: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck-api, typecheck-web

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,svelte,html,md,yaml,yml}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,jsx,ts,tsx,svelte}"
      run: bun x oxlint {staged_files}

    typecheck-api:
      glob: "apps/api/**/*.ts"
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      glob: "apps/web/**/*.{ts,svelte}"
      run: cd apps/web && bun run check

commit-msg:
  commands:
    lint-commit-message:
      run: bun x commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    lint-all:
      run: bun x ultracite check

    typecheck-api:
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      run: cd apps/web && bun run check

chore: gitignore Colyseus .devmode.json
  .gitignore
  apps/game/.devmode.json
Due: format

feat(game,web): add debug panel and increase Colyseus buffer size
  apps/game/src/app.config.ts
  apps/web/src/lib/components/game/GameCanvas.svelte
  apps/web/src/lib/components/game/GameDebugPanel.svelte
  apps/web/src/lib/game/particles.ts
  apps/web/src/lib/stores/debug.svelte.ts
  apps/web/src/lib/stores/game.svelte.ts
  apps/web/src/routes/(game)/play/playground/+page.svelte
Due: format, lint, typecheck-web

refactor(game): simplify sphere-motion flow and reuse ship delta for projectiles
  packages/supercluster/src/constants.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.ts
Due: format, lint

refactor(game): replace asteroid hit flags and introduce NetVec3 contract
  apps/game-server/src/loop.ts
  apps/web/src/lib/game/constants/renderer.ts
  apps/web/src/lib/game/renderer/Asteroid.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/simulation/asteroid.ts
  packages/supercluster/src/simulation/collision.ts
  packages/supercluster/src/simulation/movement.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

refactor(game): add multiplayer ship/projectile identity and spawn system
  apps/game-server/src/loop.ts
  apps/web/src/lib/game/SuperCluster.svelte
  apps/web/src/lib/game/renderer/GameRenderer.ts
  packages/supercluster/src/defaults.ts
  packages/supercluster/src/simulation/projectile.ts
  packages/supercluster/src/types.ts
Due: format, lint, typecheck-web

fix(ci): clean containerd state to fix deploy overlayfs errors
  .github/workflows/deploy.yml
Due: format

fix(web): preserve multiple Set-Cookie headers in API proxy
  apps/web/src/hooks.server.ts
Due: format, lint, typecheck-web

Revert "fix(web): preserve multiple Set-Cookie headers in API proxy"
  apps/web/src/hooks.server.ts
Due: format, lint, typecheck-web

Reapply "fix(web): preserve multiple Set-Cookie headers in API proxy"
  apps/web/src/hooks.server.ts
Due: format, lint, typecheck-web

fix(api,game): copy logger node_modules in dev Docker stage
  apps/api/Dockerfile
  apps/game/Dockerfile
Due: none
