Repository umarudotdev/ft_transcendence: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck-api, typecheck-web

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,svelte,html,md,yaml,yml}"
      run: bun x ultracite fix {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{js,jsx,ts,tsx,svelte}"
      run: bun x oxlint {staged_files}

    typecheck-api:
      glob: "apps/api/**/*.ts"
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      glob: "apps/web/**/*.{ts,svelte}"
      run: cd apps/web && bun run check

commit-msg:
  commands:
    lint-commit-message:
      run: bun x commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    lint-all:
      run: bun x ultracite check

    typecheck-api:
      run: cd apps/api && bun run tsc --noEmit

    typecheck-web:
      run: cd apps/web && bun run check

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: format

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: format

ci: add GitHub Actions workflow for PR checks
  .github/workflows/ci.yml
  package.json
Due: format

chore: fix lint warnings and format workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  apps/web/eslint.config.js
  apps/web/src/lib/index.ts
Due: format, lint, typecheck-web

chore: add root .env.example and fix web env template
  .env.example
  apps/web/.env.example
Due: none

feat(auth): implement complete authentication module
  apps/api/drizzle/0000_worried_big_bertha.sql
  apps/api/drizzle/meta/0000_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/src/common/crypto.ts
  apps/api/src/common/guards/auth.guard.ts
  apps/api/src/common/plugins/rate-limit.ts
  apps/api/src/db/schema.ts
  apps/api/src/index.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.errors.ts
  apps/api/src/modules/auth/auth.repository.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/oauth.ts
  apps/api/src/modules/auth/password.ts
  apps/api/src/modules/auth/totp.ts
  apps/web/package.json
  apps/web/src/lib/queries/auth.ts
  apps/web/src/lib/query.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/auth/forgot-password/+page.svelte
  apps/web/src/routes/auth/login/+page.svelte
  apps/web/src/routes/auth/register/+page.svelte
  apps/web/src/routes/auth/reset-password/[token]/+page.svelte
  apps/web/src/routes/auth/verify-email/[token]/+page.svelte
  apps/web/src/routes/health/+page.svelte
  apps/web/src/routes/settings/+page.svelte
  apps/web/src/routes/settings/2fa/+page.svelte
  apps/web/src/routes/settings/security/+page.svelte
  bun.lock
Due: format, lint, typecheck-api, typecheck-web

chore(api): configure CORS and add vite proxy for development
  apps/api/package.json
  apps/api/src/index.ts
  apps/web/vite.config.ts
Due: format, lint, typecheck-api

feat(users): implement user profile system with stats, matches, and friends
  Makefile
  apps/api/drizzle/0001_young_sleeper.sql
  apps/api/drizzle/meta/0001_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/src/common/crypto.test.ts
  apps/api/src/db/schema.ts
  apps/api/src/index.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.service.test.ts
  apps/api/src/modules/auth/password.test.ts
  apps/api/src/modules/auth/totp.test.ts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.errors.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
  apps/web/src/lib/components/profile/AvatarUpload.svelte
  apps/web/src/lib/components/profile/FriendsList.svelte
  apps/web/src/lib/components/profile/MatchHistory.svelte
  apps/web/src/lib/components/profile/StatsCard.svelte
  apps/web/src/lib/components/profile/index.ts
  apps/web/src/lib/queries/auth.ts
  apps/web/src/lib/queries/users.ts
  apps/web/src/routes/profile/+page.svelte
  apps/web/src/routes/users/[id]/+page.svelte
  bun.lock
  package.json
Due: format, lint, typecheck-api, typecheck-web

fix(api): create uploads directory with proper permissions in Docker
  apps/api/Dockerfile
  apps/web/src/lib/components/ui/carousel/carousel.svelte
  apps/web/src/lib/components/ui/chart/chart-container.svelte
  apps/web/src/lib/components/ui/toggle-group/toggle-group.svelte
  apps/web/src/routes/auth/login/+page.svelte
  apps/web/src/routes/auth/register/+page.svelte
  apps/web/src/routes/auth/verify-email/[token]/+page.svelte
Due: format, lint, typecheck-web

feat(web): add auth guards for protected routes
  .github/workflows/ci.yml
  apps/web/src/app.d.ts
  apps/web/src/hooks.server.ts
Due: format, lint, typecheck-web

feat: add type-safe environment variable validation
  .env.example
  apps/api/.env.example
  apps/api/src/db/index.ts
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/oauth.ts
  apps/api/src/modules/auth/totp.ts
  apps/web/.env.example
  apps/web/src/hooks.server.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/env.ts
Due: format, lint, typecheck-api, typecheck-web

refactor(api): apply ElysiaJS best practices patterns
  apps/api/src/common/guards/auth.guard.ts
  apps/api/src/common/guards/auth.macro.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.errors.ts
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.service.test.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.errors.ts
  apps/api/src/modules/users/users.model.ts
  apps/api/src/modules/users/users.service.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/api.ts
Due: format, lint, typecheck-api, typecheck-web

feat: add monorepo path aliases for shared type imports
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/src/lib/queries/auth.ts
  apps/web/src/lib/queries/users.ts
  apps/web/tsconfig.json
  bun.lock
  tsconfig.json
Due: format, lint, typecheck-web

feat(api): add RFC 9457 Problem Details error handling
  apps/api/package.json
  apps/api/src/common/errors/error-types.ts
  apps/api/src/common/errors/index.ts
  apps/api/src/common/errors/problem-details-helper.ts
  apps/api/src/common/errors/problem-details.test.ts
  apps/api/src/common/errors/problem-details.ts
  apps/api/src/common/guards/auth.macro.ts
  apps/api/src/common/plugins/error-handler.test.ts
  apps/api/src/common/plugins/error-handler.ts
  apps/api/src/common/plugins/rate-limit.ts
  apps/api/src/index.ts
  apps/api/src/modules/auth/auth.controller.test.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.service.test.ts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.model.ts
  apps/web/src/lib/errors/api-error.ts
  apps/web/src/lib/errors/index.ts
  apps/web/src/lib/errors/problem-details.ts
  apps/web/src/lib/queries/auth.ts
  apps/web/src/lib/queries/users.ts
  apps/web/src/routes/health/+page.svelte
  bun.lock
Due: format, lint, typecheck-api, typecheck-web

feat(web): redesign pages with shadcn-svelte and add dark mode
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/lib/components/theme-toggle.svelte
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(app)/+page.svelte
  apps/web/src/routes/(app)/demo/+page.svelte
  apps/web/src/routes/(app)/demo/paraglide/+page.svelte
  apps/web/src/routes/(app)/page.svelte.spec.ts
  apps/web/src/routes/(app)/profile/+page.svelte
  apps/web/src/routes/(app)/settings/+page.svelte
  apps/web/src/routes/(app)/settings/2fa/+page.svelte
  apps/web/src/routes/(app)/settings/security/+page.svelte
  apps/web/src/routes/(app)/status/+page.svelte
  apps/web/src/routes/(app)/users/[id]/+page.svelte
  apps/web/src/routes/(auth)/+layout.svelte
  apps/web/src/routes/(auth)/auth/forgot-password/+page.svelte
  apps/web/src/routes/(auth)/auth/login/+page.svelte
  apps/web/src/routes/(auth)/auth/register/+page.svelte
  apps/web/src/routes/(auth)/auth/reset-password/[token]/+page.svelte
  apps/web/src/routes/(auth)/auth/verify-email/[token]/+page.svelte
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/auth/forgot-password/+page.svelte
  apps/web/src/routes/auth/login/+page.svelte
  apps/web/src/routes/auth/register/+page.svelte
  apps/web/src/routes/auth/reset-password/[token]/+page.svelte
  apps/web/src/routes/auth/verify-email/[token]/+page.svelte
  apps/web/src/routes/demo/+page.svelte
  apps/web/src/routes/demo/paraglide/+page.svelte
  apps/web/src/routes/layout.css
  apps/web/src/routes/profile/+page.svelte
  apps/web/src/routes/settings/+page.svelte
  apps/web/src/routes/settings/2fa/+page.svelte
  apps/web/src/routes/settings/security/+page.svelte
  apps/web/src/routes/users/[id]/+page.svelte
Due: format, lint, typecheck-web

feat(web): migrate to svelte-adapter-bun for production builds
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/svelte.config.js
  bun.lock
Due: format, lint

test: add unit tests for new backend modules and fix web test
  apps/api/src/modules/gamification/gamification.controller.test.ts
  apps/api/src/modules/gamification/gamification.service.test.ts
  apps/api/src/modules/moderation/moderation.controller.test.ts
  apps/api/src/modules/moderation/moderation.service.test.ts
  apps/api/src/modules/notifications/notifications.controller.test.ts
  apps/api/src/modules/rankings/rankings.controller.test.ts
  apps/api/src/modules/rankings/rankings.service.test.ts
  apps/web/src/routes/(app)/PageWithWrapper.svelte
  apps/web/src/routes/(app)/TestWrapper.svelte
  apps/web/src/routes/(app)/page.svelte.spec.ts
Due: format, lint, typecheck-api, typecheck-web

fix: configure test infrastructure for bun and playwright
  apps/api/src/env.ts
  apps/api/src/test-setup.ts
  apps/web/playwright.config.ts
  bunfig.toml
  package.json
Due: format, lint, typecheck-api

feat(auth): complete OAuth 42 authentication with rate limiting and unlink
  apps/api/src/common/errors/error-types.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.repository.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/web/src/lib/queries/auth.ts
  apps/web/src/routes/(app)/settings/security/+page.svelte
  apps/web/src/routes/(app)/welcome/+page.svelte
  apps/web/src/routes/(auth)/auth/login/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

fix(auth): generate QR code image for 2FA setup
  apps/api/package.json
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/totp.ts
  bun.lock
Due: format, lint, typecheck-api

feat(web): add command menu with user search and sticky header
  apps/web/src/lib/components/command-menu.svelte
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/layout.css
Due: format, lint, typecheck-web

style(web): update theme with purple primary and custom fonts
  apps/web/src/app.html
  apps/web/src/routes/layout.css
Due: format

feat(web): implement Material Design 3 design system
  apps/web/src/app.html
  apps/web/src/lib/components/ui/alert/alert.svelte
  apps/web/src/lib/components/ui/avatar/avatar-fallback.svelte
  apps/web/src/lib/components/ui/avatar/avatar.svelte
  apps/web/src/lib/components/ui/badge/badge.svelte
  apps/web/src/lib/components/ui/button/button.svelte
  apps/web/src/lib/components/ui/card/card-description.svelte
  apps/web/src/lib/components/ui/card/card-title.svelte
  apps/web/src/lib/components/ui/card/card.svelte
  apps/web/src/lib/components/ui/checkbox/checkbox.svelte
  apps/web/src/lib/components/ui/dialog/dialog-content.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-content.svelte
  apps/web/src/lib/components/ui/dropdown-menu/dropdown-menu-item.svelte
  apps/web/src/lib/components/ui/input-otp/input-otp-group.svelte
  apps/web/src/lib/components/ui/input-otp/input-otp-separator.svelte
  apps/web/src/lib/components/ui/input-otp/input-otp-slot.svelte
  apps/web/src/lib/components/ui/input-otp/input-otp.svelte
  apps/web/src/lib/components/ui/input/input.svelte
  apps/web/src/lib/components/ui/label/label.svelte
  apps/web/src/lib/components/ui/progress/progress.svelte
  apps/web/src/lib/components/ui/separator/separator.svelte
  apps/web/src/lib/components/ui/skeleton/skeleton.svelte
  apps/web/src/lib/components/ui/switch/switch.svelte
  apps/web/src/lib/components/ui/tabs/tabs-list.svelte
  apps/web/src/lib/components/ui/tabs/tabs-trigger.svelte
  apps/web/src/lib/components/ui/tooltip/tooltip-content.svelte
  apps/web/src/lib/md3/color-tokens.ts
  apps/web/src/lib/md3/elevation.ts
  apps/web/src/lib/md3/index.ts
  apps/web/src/lib/md3/motion.ts
  apps/web/src/lib/md3/typography.ts
  apps/web/src/routes/(app)/settings/2fa/+page.svelte
  apps/web/src/routes/(auth)/auth/login/+page.svelte
  apps/web/src/routes/layout.css
Due: format, lint, typecheck-web

style(web): apply MD3 surface colors to layouts and components
  apps/web/src/lib/components/ui/sheet/sheet-content.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar-inset.svelte
  apps/web/src/lib/components/ui/sidebar/sidebar.svelte
  apps/web/src/routes/(app)/+layout.svelte
  apps/web/src/routes/(auth)/+layout.svelte
  apps/web/src/routes/layout.css
Due: format, lint, typecheck-web

feat(chat): implement real-time DM chat system with notifications
  apps/api/drizzle/0003_wakeful_preak.sql
  apps/api/drizzle/0004_thankful_mimic.sql
  apps/api/drizzle/meta/0003_snapshot.json
  apps/api/drizzle/meta/0004_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema.ts
  apps/api/src/index.ts
  apps/api/src/modules/chat/chat.controller.ts
  apps/api/src/modules/chat/chat.model.ts
  apps/api/src/modules/chat/chat.repository.ts
  apps/api/src/modules/chat/chat.service.ts
  apps/api/src/modules/notifications/notifications.model.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/web/src/lib/components/chat/ConversationItem.svelte
  apps/web/src/lib/components/chat/ConversationList.svelte
  apps/web/src/lib/components/chat/MessageInput.svelte
  apps/web/src/lib/components/chat/MessageThread.svelte
  apps/web/src/lib/components/chat/TypingIndicator.svelte
  apps/web/src/lib/components/chat/index.ts
  apps/web/src/lib/queries/chat.ts
  apps/web/src/lib/stores/chat.svelte.ts
  apps/web/src/routes/(app)/chat/+layout.svelte
  apps/web/src/routes/(app)/chat/+page.svelte
  apps/web/src/routes/(app)/chat/[channelId]/+page.svelte
  apps/web/src/routes/(app)/users/[id]/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

feat(chat): add at-rest encryption for message content
  apps/api/src/env.ts
  apps/api/src/modules/chat/chat.crypto.ts
  apps/api/src/modules/chat/chat.repository.ts
Due: format, lint, typecheck-api

fix(build): skip lefthook install in non-git environments
  package.json
Due: format

feat(deploy): add Kamal deployment configuration for AWS
  .github/workflows/deploy.yml
  .gitignore
  apps/api/package.json
  apps/api/src/modules/auth/auth.repository.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/email/email.service.ts
  apps/web/src/hooks.server.ts
  bun.lock
  config/deploy.web.yml
  config/deploy.yml
  deploy.sh
  docs/deployment.md
  scripts/aws-setup.sh
Due: format, lint, typecheck-api, typecheck-web

feat(admin): add admin panel with user management, reports, sanctions, and audit log
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/moderation/moderation.controller.ts
  apps/api/src/modules/moderation/moderation.model.ts
  apps/api/src/modules/moderation/moderation.repository.ts
  apps/api/src/modules/moderation/moderation.service.ts
  apps/web/src/lib/components/app-sidebar.svelte
  apps/web/src/lib/queries/moderation.ts
  apps/web/src/routes/(app)/admin/+layout.svelte
  apps/web/src/routes/(app)/admin/+page.svelte
  apps/web/src/routes/(app)/admin/audit/+page.svelte
  apps/web/src/routes/(app)/admin/reports/+page.svelte
  apps/web/src/routes/(app)/admin/sanctions/+page.svelte
  apps/web/src/routes/(app)/admin/users/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

feat(db): add drizzle-seed for database seeding with test data
  apps/api/package.json
  apps/api/src/db/seed.ts
  bun.lock
Due: format, lint, typecheck-api

feat(auth): add self-service account deletion
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.model.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/web/src/lib/queries/auth.ts
  apps/web/src/routes/(app)/settings/security/+page.svelte
Due: format, lint, typecheck-api, typecheck-web

chore(deploy): add Kamal secrets example file
  .kamal/secrets.example
Due: none

fix(ci): generate Paraglide files before type checking in deploy workflow
  .github/workflows/deploy.yml
Due: format

fix(ci): use correct ECR password output name in deploy workflow
  .github/workflows/deploy.yml
Due: format

fix(ci): create Kamal secrets file before deployment
  .github/workflows/deploy.yml
Due: format

fix(ci): use AWS CLI to get ECR password directly
  .github/workflows/deploy.yml
Due: format
